<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <i class="material-icons">keyboard_backspace</i>
  <a class="navbar-brand font" href="#">Return to homepage</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
    </ul>
  </div>
</nav>
<div class="split-grid">

  <div class="center-text column-left-1 font">
    <h2>Process Description</h2>
    <div class="text-grid font">Welcome to the Russian Roulette Page! If you chose this page,
      it's because you want some fun. The rules are simple: input your bill total, how much you want to tip,
      your friend's or family's name, then WE will randomly choose who will pay for it all.
    </div>
  </div>

  <div class="center-text column-right-1 font">
    <div>
      <h2>The lucky winner is...</h2>
      <div>{{randPerson.user}}</div>

      <button type="button" class="btn btn-primary " (click)="randTest(user)">Reveal Person</button>

      
      <div>
        <button type="button" class="btn btn-secondary btn-format" (click)="nextStep(user)">
          <i class="material-icons">
            chevron_right
          </i>
        </button>
        <button type="button" class="btn btn-secondary btn-format" (click)="previousStep(user)">
          <i class="material-icons">
            chevron_left
          </i>
        </button>
      </div>
    </div>
  </div>