.results-column-left {
    background-color: #01579B;
    color: white;
    width: 30vw;
    padding: 10px;
    height: 100%;
    overflow: hidden;
   
  }
      
  .results-column-right {
    color: white;
    background-color: #81D4FA;
    width: 70vw;
    padding: 10px;
    height: 100%;
    overflow: auto;
  
  }
  .results-split-grid {
   display: grid;
   grid-template-columns: 1fr 3fr;
   height: 50%;
   width: 50%;
  }
  .results-header{
      align-content: left;
  }

  .align-text{
  text-align: left; 
  /* border: dashed;  */
  border-color: black;
  width: 20vw;
 
}

  .container{
    display: grid;
    grid-template-rows: 100px 100px;
    width: 200px;
    position: relative;
    height: 100%;
 
 
  }

  .btn-format-2 {
    margin: 40px;
    margin-top: 150px;
    float: center;
    
  }
  .header{
    overflow: hidden;
  }

  .percentClass {
    font-size: 30pt;
    text-shadow: 2px 2.5px black;
    margin-bottom: 15px;
  }
  