<h3 >Courses</h3>
<div class="align-center">
  <form class="example-form">

    <mat-form-field class="example-full-width">
      <input matInput #message maxlength="256" placeholder="Message">
      <mat-hint align="start"><strong>Don't disclose personal info</strong> </mat-hint>
    </mat-form-field>
    
  </form>
  <!-- <button (click)="addStudent()" mat-flat-button color="accent" class="add-button">Add Student</button>
    <button (click)="saveStudent()" mat-flat-button color="accent" class="add-button">Save</button> -->
    
  </div>