<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <i class="material-icons">keyboard_backspace</i>
  <a class="navbar-brand font" href="#">Return to homepage</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
    </ul>
  </div>
</nav>
<div class="split-grid">

  <div class="center-text column-left-1 font">
    <h2>Process Description</h2>
    <div class="text-grid font">Welcome to the Russian Roulette Page! If you chose this page,
      it's because you want some fun. The rules are simple: input your bill total, how much you want to tip,
      your friend's or family's name, then WE will randomly choose who will pay for it all.
    </div>
  </div>

  <div class="center-text column-right-1 font">
    <div>
      <h2>Russian Roulette</h2>
      <!-- BILL INPUT -->
      <h4>Total Bill:</h4>
      <div class="input-group mb-3 russian-input">
        <div class="input-group-prepend">
          <span class="input-group-text">$</span>
        </div>
        <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
        
      </div>

      <!-- TIP INPUT -->
      <div class="align-center">
        <h4>Tip Amount:</h4>
        <div class="form-check form-check-inline">
          <input [(ngModel)]="user.tipAmount" class="form-check-input font" type="radio" name="inlineRadioOptions" id="inlineRadio1"
            value="10">
          <label class="form-check-label" for="inlineRadio1">10%</label>
        </div>
        <div class="form-check form-check-inline font">
          <input [(ngModel)]="user.tipAmount" class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
            value="15">
          <label class="form-check-label" for="inlineRadio2">15%</label>
        </div>
        <div class="form-check form-check-inline">
          <input [(ngModel)]="user.tipAmount" class="form-check-input font" type="radio" name="inlineRadioOptions" id="inlineRadio3"
            value="20">
          <label class="form-check-label" for="inlineRadio3">20%</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input font" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="user.tipAmount"
            (click)="addTip()">
          <label class="form-check-label">Custom tip</label>
          <div *ngIf="editMode == true">
            <input [(ngModel)]="user.tipAmount" type="text" class="form-control text-box font" placeholder="">
          </div>
        </div>

        <h4>People in Party:</h4>
        <div class="input-group mb-3 russian-input">
            <input type="text" class="form-control" placeholder="Party Names" aria-label="Recipient's username" aria-describedby="basic-addon2">
            <button type="button" class="btn btn-success btn-format-home font" >Add</button>
            <button type="button" class="btn btn-danger btn-format-home font" >Delete</button>
            <div class="input-group-append">
            </div>
          </div>


        <button type="button" class="btn btn-secondary btn-format" (click)="nextStep(users)">
          <i class="material-icons">
            chevron_right
          </i>
        </button>
        <button type="button" class="btn btn-secondary btn-format" (click)="previousStep(users)">
          <i class="material-icons">
            chevron_left
          </i>
        </button>
      </div>
    </div>
  </div>