.gallery-grid {
    display: grid;
    grid-template-columns:  1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 1em;
  }

  .tipClass {
      margin-bottom: 25px;
  }

  .russian-input {
    width: 300px;
    margin: auto;
}
.russian-input2 {
display: flex;
align-items: center;
justify-content: center;   
}
.button-class{
    background-color: #01579B;
}

.btn-group {
    margin: 5px;
}

.column-right-1 {
    color: black;
    background-color: #FDD835;
    width: 66vw;
    padding: 10px;
    height: 100vh;
  }

  .column-left-1 {
    background-color: #B71C1C;
    color: white;
    width: 33vw;
    padding: 10px;
    height: 100vh;
  }