.gallery-grid {
    display: grid;
    grid-template-columns:  1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 1em;
  }

  .tipClass {
      margin-bottom: 25px;
  }

  .russian-input {
    width: 300px;
    margin: auto;
}
.russian-input2 {
display: flex;
align-items: center;
justify-content: center;   
}
.button-class{
    background-color: #01579B;
}
