<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <i class="material-icons">keyboard_backspace</i>
  <a class="navbar-brand font" href="#">Return to homepage</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
    </ul>
  </div>
</nav>
<div class="split-grid">

  <div class="center-text column-left font">
    <h2 class="headDescription">Process Description:</h2>
    <div class="text-grid descriptionClass">The final step, the summary. Double check the info provided on the right to make sure
      everything was entered correctly. If there is an error, please use the back arrow on the right to go back a step to fix
      the mistake. If not, move right along to the results!</div>
  </div>

  <div class="center-text column-right font">
    <div>
      <h2 class="stepClass">Step 4 of 4: Summary</h2>
      <div class="summaryClass"> Bill total: ${{user.mealCost}}</div> 
      <div class="summaryClass"> Party total: {{user.amountInParty}}</div> 
      <div class="summaryClass"> Tip percentage: {{user.tipAmount}}%</div> 

    </div>
    <button type="button" class="btn btn-secondary btn-format" (click)="nextStep(user)">
      <i class="material-icons">
        chevron_right
      </i>
    </button>
    <button type="button" class="btn btn-secondary btn-format" (click)="previousStep(user)">
      <i class="material-icons">
        chevron_left
      </i>
    </button>
  </div>
</div>