<div class="split-grid">

  <div class="center-text column-left">
    <h2>Process Description</h2>
    <div>Text about what the app is going to do</div>
    <div></div>
  </div>

  <div class="center-text">

    <div class="column-right">
      <h2>Step 1 of N</h2>
      <div>Text about what the app is going to do</div>
      <div class="btn-RR">
        <button type="button" class="btn btn-success" (click)="goToPage('party-input')">Russian Roulette</button>


      </div>
    </div>

  </div>
</div>