<div class="split-grid">

    <div class="center-text column-left">
        <h2>Process Description</h2>
        <div>Text about what the app is going to do</div>
        <div></div>
    </div>

    <div class="center-text column-right">
        <div>
            <h2>Step 2 of 4</h2>
            <div>Enter the amount of people in your party</div>
            <div class="btn-RR">
                <br>Amount of people in group
                <div class="align-center btn-RR">
                    <input type="text" class="form-control box-size" placeholder="Enter total meal cost"
                        aria-describedby="basic-addon2">
                    <button type="button" class="btn btn-success button-format" (click)="goToPage('party-input')">Next</button>
                </div>
            </div>
        </div>
    </div>
</div>