<nav class="navbar-expand-lg navbar-light bg-light">
    <i class="material-icons spacer">keyboard_backspace</i>
    <a class="navbar-brand font" href="#">Return to homepage</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
        </ul>
    </div>
</nav>

<div class="split-grid">
    <div class="center-text column-left font">
        <h2 class="headDescription">Process Description:</h2>
        <div class="text-grid font">Ahh, the tipping page.. You have the power to show your love to your server by providing
            a nice tip here. However, you also have the power to tip low in order to show your server that they need to
            step their game up. All in all, please respect servers, and we hope you utilize tipping in a friendly and
            positive manner. </div>
    </div>

    <div class="center-text column-right font">
        <div class="headDescription">Step 3 of 4: 
            <span class="subHeader">How much do you want to tip?</span>
        </div>
        <div class="align-center">
            <div class="form-check form-check-inline">
                <input [(ngModel)]="user.tipAmount" class="form-check-input placeholderText" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                    value="10" (click)="setEditMode()">
                <label class="form-check-label" for="inlineRadio1">10%</label>
            </div>
            <div class="form-check form-check-inline font">
                <input [(ngModel)]="user.tipAmount" class="form-check-input placeholderText" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                    value="15" (click)="setEditMode()">
                <label class="form-check-label" for="inlineRadio2">15%</label>
            </div>
            <div class="form-check form-check-inline">
                <input [(ngModel)]="user.tipAmount" class="form-check-input placeholderText" type="radio" name="inlineRadioOptions" id="inlineRadio3"
                    value="20" (click)="setEditMode()">
                <label class="form-check-label" for="inlineRadio3">20%</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input placeholderText" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="user.tipAmount"
                    (click)="addTip()">
                <label class="form-check-label">Custom tip</label>
                <div *ngIf="editMode != false">
                    <input [(ngModel)]="user.tipAmount" type="text" class="form-control text-box placeholderText" placeholder="">
                </div>



            </div>
        </div>
        <button type="button" class="btn btn-light btn-format" (click)="nextStep(user)">
            <i class="material-icons">
                chevron_right
            </i>
        </button>
        <button type="button" class="btn btn-light btn-format" (click)="previousStep(user)">
            <i class="material-icons">
                chevron_left
            </i>
        </button>
    </div>
</div>