
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import url('https://fonts.googleapis.com/css?family=Roboto:300,700,900,500,400,300,200');

  


.nav-button{
  margin-right: 8px !important;
}


table{
table-layout: fixed; 
}



.align-center{
  margin: auto;
  border: 1px;
}

.btn-format {
  margin: 10px;
  float: right;
}

.center-text {
  text-align: center;
  overflow: auto;
  
}

.box-size{
  height: 85px;
  padding: 10px;
  border: 1px solid rgb(7, 7, 7);
  box-sizing: border-box;
  font-size: 28px;
  text-align: center;
  margin-top: 30px;
  width: 400px;
  margin: auto;
}

.text-grid {
  text-align: center;
  height: 25vh;
  margin-left: 10px;
}

.column-left {
  /* background-color: #01579B; */
  background: linear-gradient(to bottom left, #0D47A1 0%, #757575 112%);
  width: 33vw;
  padding: 10px;
  height: 100vh;
}
    
.column-right {
  color: white;
  /* background-color: #81D4FA; */
  background: linear-gradient(to bottom left, #00ccff 0%, #6699ff 100%);
  width: 66vw;
  padding: 10px;
  height: 100vh;
}
.column-left-1 {
  background-color: #B71C1C;
  color: white;
  width: 33vw;
  padding: 10px;
  height: 100vh;
}
    
.column-right-1 {
  color: black;
  background-color: #FDD835;
  width: 66vw;
  padding: 10px;
  height: 100vh;
}
.split-grid {
 display: grid;
 grid-template-columns: 1fr 3fr;
 
}

.toast-container {
  width: 500px;
  position: fixed;
  right: 20px;
  top: 20px;
  margin-top: 50px;
}
.font{
  /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
  margin-top: 20px;
  font-family: 'Roboto', sans-serif;
  color: white;
}

.percentClass {
  font-size: 26pt;
  text-shadow: 2px 2.5px black;
}


.summaryClass{
  font-size: 26pt;
  text-shadow: 2px 2.5px black;
  margin-top: 50px;

}



.headDescription{
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 50px;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;


}

.subHeader {
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 50px;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;

}

.subHeader-2 {
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 200;
  font-family: 'Roboto', sans-serif;

}

.placeholderText {
  font-size: 18px;
  font-family: 'Roboto', sans-serif;

}


.russianStepClass{
  margin-top: 20px;
  font-size: 48pt;
  text-shadow: 2px 2.5px rgb(145, 144, 144);
}

.russianSummaryClass{
  font-size: 26pt;
  text-shadow: 2px 2.5px rgb(145, 144, 144);
  margin-top: 50px;

}


.russianPercentClass{
  font-size: 20pt;
  text-shadow: 1.5px 1.25px rgb(145, 144, 144);
}