
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
  
/* body {
  width: 100vw;
  height: 100vh;
  background-color: #a9c7f8af;
} */

.align-center{
  margin: 15px;
  border: 1px;
}

.nav-button{
    margin-right: 8px !important;
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}

table{
  table-layout: fixed; 
}

.button-format{
  margin: 3px;
  color: azure;
}

.btn-format {
  padding: 10px;
  margin: 15px;
}

.center-text {
  text-align: center;
  
}

.box-size{
  height: 100px;
  padding: 10px;
  border: 1px solid rgb(7, 7, 7);
  box-sizing: border-box;
  font-size: 28px;
  text-align: center;
  margin-top: 30px;
}

.text-grid {
  text-align: center;
  height: 25vh;
}