
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
* {
    margin: 0px;
    padding: 0px;
  }
  
  /* body {
    width: 100vw;
    height: 100vh;
    background-color: #a9c7f8af;
  } */

  .align-center{
    margin: 15px;
    border: 1px;
  }

  .nav-button{
    margin-right: 8px !important;
  }

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}

table{
  table-layout: fixed;
   
}

.button-format{
margin: 15px;
}