

<div class="split-grid">
  <div class="center-text column-left">
    <h2 class="center-text font">Let's split the bill!</h2>
    <div class="text-grid font">This application is designed to help split the bill among your group of friends. This
      process will take you on the steps to split your bill evenly, including added tips and taxes.</div>
    <div>
      <button type="button" class="btn btn-light btn-format-home font" (click)="goToPage('bill-total')">Split Bill!</button>
    </div>
  </div>

  <div class="center-text column-right-R">
    <h2 class="center-text font">Let's have some fun!</h2>
    <div class="text-grid font">If you're feeling lucky, test your luck and have one person pay for the whole bill. Just
      like the famous game of the same name, one unlucky person in your group will be chosen to pay for the bill. Click
      on the button to find out who is the unlucky one!</div>
    <div>
      <button type="button" class="btn btn-secondary btn-format-home2 font" (click)="goToPage('russian-page')">Russian Roulette</button>
    </div>
  </div>
</div>