<h3 >Enter Meal Cost</h3>
<div class="align-center">
    
    <input  style="display: inline" type="text" class="form-control box-size" placeholder="Enter total meal cost" aria-describedby="basic-addon2">
</div>
<h4>Enter Party Number</h4>
<div class="align-center">
    
    <input  style="display: inline" type="text" class="form-control box-size" placeholder="Enter Party Number" aria-describedby="basic-addon2">

</div>
<h4>Enter tip amountr</h4>
<div class="align-center">
    
   
    <button class="next-button1:hover next-button next-button1">10%</button>
    <button class="next-button1:hover next-button next-button1">15%</button>
    <button class="next-button1:hover next-button next-button1">20%</button>
    <input  style="display: inline" type="text" class="form-control tip-input" placeholder="Custom Tip" aria-describedby="basic-addon2">
    <button style="display: block" class="go-button:hover go-button go-button1">GO!</button>
</div>
