<!-- <h3 class="align-center">Welcome to Bill Splitter!</h3>
<div>Don't you wish there was an app that automatically split a bill among you and your friends? </div>
<div>Well now there is!</div>
<h4>Let's start with the check total:
    <br>Enter check amount
    <input type="text" class="form-control box-size" placeholder="Enter total meal cost" aria-describedby="basic-addon2">
    <button type="button" class="btn btn-success" (click)="goToPage('party-input')">Next</button>

</h4> -->





<!-- <div class="align-center">
    
    <input  style="display: inline" type="text" class="form-control box-size" placeholder="Enter total meal cost" aria-describedby="basic-addon2">
</div>
<h4>Enter Party Number</h4>
<div class="align-center">
    
    <input  style="display: inline" type="text" class="form-control box-size" placeholder="Enter Party Number" aria-describedby="basic-addon2">

</div>
<h4>Enter tip amountr</h4>
<div class="align-center">
    
    <mat-radio-group>
        <mat-radio-button value="1">Option 1</mat-radio-button>
        <mat-radio-button value="2">Option 2</mat-radio-button>
      </mat-radio-group>
   
</div> -->


    
        