<!-- <header class="main-header">
    <span class="align-center">r1c1</span>
    <div id= "banner" class="align-center" (mouseenter)= "showGreeting()" (mouseleave)= "hideGreeting()">r1c2</div>
    <div class="align-center">r1c3</div>
  </header> -->
<!-- <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <span class="align-center">Bill Splitter</span>
      <div id= "banner" class="align-center">
              <button mat-flat-button color="accent" class="nav-button" (click)="goToPage ('')">Home</button>
              <button mat-flat-button color="accent" class="nav-button" (click)="goToPage ('courses')">Courses</button>
            </div>
      <div class="align-center"> -->
<!-- <mat-icon class="example-icon">favorite</mat-icon>
          <mat-icon class="example-icon">delete</mat-icon> -->
<!-- </div>
      </nav> -->

<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #e3f2fd;">

        <a class="navbar-brand" href="#" (click)="goToPage('')">Bill Splitter</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Russian Roulette</a>
            </li>
          </ul>
    
        </div>
      </nav> -->
<div class="row">
  
    <div class="column" style="background-color: #607D8B;">
 
    <div class="center-text" style="color: white">
      <h2 class="center-text">Let's split the bill!</h2>
    <div>Text about what the app is going to do</div>

    <div >
      <button type="button" class="btn btn-success" (click)="goToPage('bill-total')">Split the bill</button>

       
    </div> 
  </div>

</div>
  


<div class="column" style="background-color: #03A9F4;">
 
    <div class="center-text" style="color: white">
      <h2 class="center-text">Let's have some fun!</h2>
    <div>Text about what the app is going to do</div>
    <div >
      <button type="button" class="btn btn-success" (click)="goToPage('party-input')">Russian Roulette</button>

       
    </div> 
  </div>
    
</div>
</div>